.form{
    padding: 1rem;
}
.control{
    display: flex;
    flex-direction: column;
    
}
.control label{
    font-size: large;
    font-weight: 700;
}
.control input,textarea{
    margin: 5px 0;
    /* border: 1px solid #80808070; */
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
}
.control input,textarea:focus{
  outline: none;
}

.actions{
    margin: 20px 0;
    display: flex;
    
}
.actions button{
    margin-left: auto;
    justify-content: flex-start;
    border-radius: 5px;
    border: 0;
    padding: 10px 42px;
    background-color: #4e0010;
    color: white;
    font-size: large;
    font-weight: 700;
}
.actions button:hover{
    background-color: #700218;
    cursor: pointer;
}