.alertBlock{
    background-color: #d1a7f9;
    width: 30rem;
    height: 6rem;
    margin: 3rem auto;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    font-size: 21px;
    font-weight: 900;
}